<div class="welcome-container">
  <div class="logo">
    <img src="../../../../assets/ImagesCasino/logo.jpeg" alt="Logo LaFija" />
  </div>
    <h2>Regístrate</h2>
    <p class="subtitle">Completa tus datos para continuar</p>

    <form [formGroup]="myForm" (ngSubmit)="onSave()" autocomplete="off">

      <div class="input-field">
        <input type="text" id="name" required placeholder=" " formControlName="name">
        <label for="name">Nombre</label>
      </div>
      <span *ngIf="isValidField('name')" class="error">{{ getFieldError('name') }}</span>

      <div class="input-field">
        <input type="text" formControlName="lastName"  id="lastName" required placeholder=" "/>
        <label for="lastName">Apellidos</label>
      </div>
      <span *ngIf="isValidField('lastName')" class="error">{{ getFieldError('lastName') }}</span>
      <div class="half-content">
        <div>
          <div class="input-field half-input">
        <select formControlName="selectValue" id="selectValue">
          <option value="DNI">DNI</option>
          <option value="CE">Carnet de extranjería</option>
        </select>
        <label for="selectValue">Tipo de Documento</label>
      </div>
      <span *ngIf="isValidField('selectValue')" class="error">{{ getFieldError('selectValue') }}</span>
        </div>

        <div>
          <div class="input-field half-input">
        <input type="text" formControlName="documentoNumero" id="documentoNumero" required placeholder=" "/>
        <label for="documentoNumero">N° Documento</label>
      </div>
      <span *ngIf="isValidField('documentoNumero')" class="error">{{ getFieldError('documentoNumero') }}</span>
        </div>
      </div>

      <div class="input-field">
        <input type="email" formControlName="email" id="email" required placeholder=" "/>
        <label for="email">Email</label>
      </div>
      <span *ngIf="isValidField('email')" class="error">{{ getFieldError('email') }}</span>

      <div class="input-field">
        <input type="date" formControlName="agePerson" id="agePerson"/>
        <label for="agePerson">Fecha de Nacimiento</label>
      </div>
      <span *ngIf="isValidField('agePerson')" class="error">{{ getFieldError('agePerson') }}</span>

      <div class="input-field">
        <input type="text" id="token" required placeholder=" " formControlName="token">
        <label for="token">Token</label>
      </div>
      <!--AQUI PONES EL SPAN PARA VALIDAR EL TOKEN CAUSA-->

      <button type="submit" class="confirm-button">Registrar</button>
    </form>
</div>

